.bg {
  position: relative;
}

#bg-title {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}

#bg-img {
  height: 70px;
  width: 100%;
}
