.basket-list {
  overflow: scroll;
  overflow-x: hidden;
}

.card {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #edf1f2;
  padding: 5px;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.content-div {
  width: 65%;
}

#product-price {
  color: orange;
  font-size: 16px;
  padding: 0px;
  display: flex;
}

#end-of-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 25px 10px 10px;
}

#product-name-title {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}

#card-img {
  width: 80px;
}

.basket-detail {
  background-color: white;
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  margin: 20px;
  border-top: 2px solid #edf1f2;
}

#total-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.order-div {
  width: 90%;
  align-items: center;
  justify-content: center;
}

#go-to-cart {
  background-color: white;
  border-radius: 20px;
  border: 2px solid #edf1f2;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}
#order-btn {
  background-color: green;
  border-radius: 20px;
  border: 2px solid #edf1f2;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  color: white;
}
